.container{
    display: flex;
    border: 2px solid red;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  

}
.lebel_container{
    margin: 10px 10px;
    /* margin: auto; */
    
}
.page_label{
    padding: 10px 76px;
    margin: 10px 10px;
}
.detail_input{
    padding: 10px 21px;
    margin: 10px 10px;
    /* border-radius: 9px; */
    border: 1px solid #a222a2;
}


.input_container{
    margin: 10px 10px;
}
.invoice_list{
    display: block;

}
.invoice_button{
    margin: 13px 32PX;
    padding: 10px;
    width: 152px;
    border: 1px solid rgb(56, 31, 31);
    /* border-radius: 10px; */
    color: green;
    color: #fff;
    background-color: #1976d2;
}
.invoce_list_button{
    margin: 3px 12px;
    border: 1px solid black;
    padding: 7px 17px;
    color: #fff;
    background-color: #7dd0ad;
}
.delete{
    background-color: rgb(207, 118, 118);
}
.invoice-list {
    list-style: none;
    padding: 0;
  }
  
  .invoice-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .invoice-details {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
  }
  
  .label {
    margin-right: 5px;
    font-weight: bold;
    color: #333; /* You can choose a different color for labels */
  }
  
  .value {
    margin-right: 10px;
  }
  
  .invoice-buttons button {
    margin-left: 5px;
  }
  
  .invoice-list-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .invoice-list-button.delete {
    background-color: #e74c3c;
  }
  .s3{
    margin : 0px 10px
  }
  .heading_cmp{
    color: red;
  }